<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.redis.mapper.AdsInduEtpEnterpriseStartNumDfNewMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.wyl.redis.entity.AdsInduEtpEnterpriseStartNumDfNew">
                    <result column="link_enterprise_star_num" property="linkEnterpriseStarNum"/>
                    <result column="start_year" property="startYear"/>
                    <result column="province_id" property="provinceId"/>
                    <result column="city_id" property="cityId"/>
                    <result column="area_id" property="areaId"/>
                    <result column="province" property="province"/>
                    <result column="city" property="city"/>
                    <result column="area" property="area"/>
                    <result column="domain_link" property="domainLink"/>
                    <result column="dim_type" property="dimType"/>
                    <result column="region_id" property="regionId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            link_enterprise_star_num, start_year, province_id, city_id, area_id, province, city, area, domain_link, dim_type, region_id
        </sql>


    <insert id="insertBatchAll" parameterType="com.wyl.redis.entity.AdsInduEtpEnterpriseStartNumDfNew">
        insert into  ads.ads_indu_etp_enterprise_start_num_df_new(
        link_enterprise_star_num, start_year, province_id, city_id, area_id, province, city, area, domain_link, dim_type, region_id
        )
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.linkEnterpriseStarNum},
            #{item.startYear},
            #{item.provinceId},
            #{item.cityId},
            #{item.areaId},
            #{item.province},
            #{item.city},
            #{item.area},
            #{item.domainLink},
            #{item.dimType},
            #{item.regionId}
            )
        </foreach>

    </insert>
</mapper>
